
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
:root{
    --main-color:#fff;

    
}

  body{
   background:#fff;
   background-repeat: no-repeat;
     width:100%;
     height:600px;
     margin:0 auto;
     font-family: 'Comfortaa', cursive;
    }
   
  header{
      display:flex;
      width: 100%;
   
    }
  header h1{
     float: right;
     flex-direction: row;
     font-size:2em;
     color: #5f2bece1;
     margin-left:5%;
     text-shadow: 1.8px 1.4px   rgb(185, 192, 242);
     font-size:3.5em;
    
    }
    h1 span{
        color: rgba(231, 76, 159, 0.883);
    }
    .animate__rubberBand{
        animation-duration: 2s;

    }

  .navbar a{
      text-decoration: none;
      list-style-type: none;
      margin-top:12.5%;
      display: inline-flex;
      padding:4px;
      font-size: 18px;
      color: rgba(231, 76, 159, 0.883);
      text-shadow: 1px 1.4px  rgb(185, 192, 242);
     margin-left:20px;
     font-size:1.5em;
 
  }
  .navbar a:hover{
    color:orange;
  }
  a:visited{
   color: #5f2bece1;
  }
  .portfolio-pic{
      display: flex;
      margin:0 auto;
  }

  .animate__bounceInDown{
      max-width:25%;
      margin:0 auto;
      line-height: 1.8;
      padding: 1.5% 5% 5% 5%;
      animation: bounce;
      animation-duration:2.5s;
      font-size: 15px;
      color:rgb(72, 71, 71);
      
  }
  .animate__shakeY:hover{
      
      background: rgba(231, 76, 159, 0.883);
      animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  #footer{
      position:absolute;
      bottom: 0;
      width:100%;
      height: 2.5rem; 
      text-align: center;
     color:#fff;
     text-shadow: 0.5px 1px gray;
     background:rgba(231, 76, 159, 0.883);
    padding-top:1%;
     
     

  }
  .view-portfolio{
      margin:0 auto;
      text-align:center;
      width:30%;
      padding:2%;
      border-radius: 10px;
      font-size: 16px;
      color:white;
      text-shadow:gray 0.2px .3px;
      background: #0052ebe1;
      border: none;
      
  }
.animate__bounceInDown a{
   justify-content: center;
    display: flex;
    text-decoration: none;
    text-shadow: none;
}
.animate__fadeInLeft, .animate__fadeIn{
    animation-fill-mode:both;
    animation-duration:1.0s;

}
.contact-container{
    display:inline-flex;
    width: 600px;
    padding-top:90px;
   
    
}
form{
    display:flex;
    flex-direction: column;
    margin-left:650px;
    
}

label{
    padding:15px 15px 0 0;
    color:rgb(72, 71, 71);
   
}
input, textarea{
    width:650px;
    border:rgba(231, 76, 159, 0.883) 1px solid;
    height:2.8em;

    
}
input[type=submit]{
    margin-top:15px;
    background: #0052ebe1;
    text-shadow: 0.5px 1px gray;
}
 input[type=submit]:hover{
    background:rgba(231, 76, 159, 0.883);
    animation-duration: 2s;
}
#image-container{
    margin-top:0;
    padding-top: 0;
   margin-left:8px; 
    
}

.gallery img{
    display:inline-flex;
    width:10%;
    height:6%;
    margin-left:0.1%;
    margin-top:0.2%;
   
}
.gallery{
    margin-left:10%;
   
}

.text{
    display:inline-flex;
    margin-left:190px;
    width:500px;
    
}
.portfolio-image{
    float:right;
    margin-top:0%;
    margin-right:25%;
    width:25%;
  
}
.project-list{
    padding:1px;
   
}
.project-list li{
    padding:4px;
    list-style: none;
  
}



 
@media(max-width: 600px) {
    body {
      
        width:100px;
        min-height:0;
        margin:0;
     
    }
    header{
        display: flex;
        flex-direction:column;

    }
    header h1{
        margin-left:85%;
        font-size:15px;
        padding-bottom: 0;
        margin-bottom: 0;

    }
    .navbar ul, header h1{
        max-width:15px;
        display: inline-flex;
        font-size:20px;
        justify-items: center;
    }
   .navbar a{
      font-size:14px;
      margin-left:90%;
      margin-top:0;
      padding-top:0;
   }
   .portfolio-pic{
       max-width:215px;
       display: inline-flex;
       margin-left:50%;
    }
    .animate__bounceInDown p{
        width:250px;
        line-height: 1.8;
        padding: 1.5% 5% 5% 5%;
        animation: bounce;
        animation-duration:2.5s;
        font-size:12px;
        color:rgb(72, 71, 71);
    }
    #footer{
        position: relative;
        bottom:0;
        width:320px;
        height: 2.5rem;
        padding-top:10px;
       
    }
    a .view-portfolio{
        width:390px;
        padding:8px;
        margin-left:200px;
        margin-bottom:10px;
        border-radius:10px;
        font-size: 14px;
        color:white;
        text-shadow:gray 0.2px .3px;
        background: #0052ebe1;
        
       
        
    }
}