
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
:root{
    --main-color:linear-gradient(to left top, #1397e0, #80ade9, #b6c5f0, #dfe1f7, #ffffff);

    
}

  body{
   background: var(--main-color);
   background-repeat: no-repeat;
     width:100%;
     min-height:1000px;
     margin:0;
     font-family: 'Comfortaa', cursive;
    }
  header{
      display:flex;
      width: 100%;
   
    }
  header h1{
     float: right;
     flex-direction: row;
     font-size:2em;
     color: #5f2bece1;
     margin-left:5%;
     text-shadow: 1.8px 1.4px   rgb(185, 192, 242);
     font-size:3.5em;
    
    }
    h1 span{
        color: rgba(231, 76, 159, 0.883);
    }
    
  .navbar a{
      text-decoration: none;
      list-style-type: none;
      margin-top:12.5%;
      display: inline-flex;
      padding:4px;
      font-size: 18px;
      color: rgba(231, 76, 159, 0.883);
      text-shadow: 1px 1.4px  rgb(185, 192, 242);
     margin-left:20px;
     font-size:1.5em;
 
  }
  .portfolio-pic{
      display: flex;
      margin:0 auto;
  }

  .animate__bounceInDown{
      max-width:25%;
      margin:0 auto;
      line-height: 1.8;
      padding: 1.5% 5% 5% 5%;
      animation: bounce;
      animation-duration:2.5s;
      font-size: 15px;
      color:rgb(72, 71, 71);
      
  }
  #footer{
      position:absolute;
      bottom: 0;
      width:100%;
      height: 2.5rem; 
     text-align: center;
     color:#fff;
     text-shadow: 0.5px 1px gray;
     background:rgba(231, 76, 159, 0.883);
    padding-top:1%;
     
     

  }
  .view-portfolio{
      margin:0 auto;
      text-align:center;
      width:30%;
      padding:2%;
      border-radius: 10px;
      font-size: 16px;
      color:white;
      text-shadow:gray 0.2px .3px;
      background: #0052ebe1;
      border: none;
      
  }
.animate__bounceInDown a{
   justify-content: center;
    display: flex;
    text-decoration: none;
    text-shadow: none;
}
.animate__fadeInLeft, .animate__fadeIn{
    animation-fill-mode:both;
    animation-duration:1.0s;

}


